<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <%- include('./includes/navbar.ejs') %> 
    <a href="/pets/add"><button type="button" class="btn btn-primary" >Add a Pet</button></a>
    <div style="display: flex; justify-content: center;">
    <table class='table' style="width: 75%;">
        <tr>
          <th>Name</th>
          <th>Species</th>
          <th>Breed</th>
          <th>Age</th>
          <th>Status</th>
          <th>See Profile</th>
          <th>Interested by?</th>
          <th>Edit</th>
        </tr>
        <% data.forEach( el => { %>
            <tr>
            <% for(let key in el.dataValues){ 
                if(key !== 'id' && key!== 'Owner' && key!== 'owner_id') { %>
                <td><%= el[key] %></td>
                <% } else if(key == 'Owner') { 
                    if(el[key] == null) {%>
                <td>Animal Shelter</td>
                <% } else { %>
                <td><%= el[key].name %></td>
            <% }}
            } %>
            <td><a href=<%= "/pets/profile/" + el.id %>>>></a></td>
            <td><a href=<%= `/pets/${el.id}/interestedby` %>>>></a></td>
            <td><a href=<%= "/pets/edit/user/" + el.id %>>Edit</a></td>
            </tr>
        <% }) %>
      </table>
    </div>

      <%- include('./includes/bsjs.ejs') %>
</body>
</html>