<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style-home.css">
</head>
<body>
    <%- include('./includes/navbar.ejs') %> 
    <a href="/pets">Back to pets</a>
    <div class="jumbotron">
        <h1 class="display-4"><%= data.dataValues.name %>, <%= data.dataValues.age %></h1>
        <p class="lead"><%= data.dataValues.species %></p>
        <hr class="my-4">
        <p class="subtitle-profile">Breed:</p>
        <p><%= data.dataValues.breed %></p>
        <p class="subtitle-profile">*Owned by</p>
        <p><% if(data.dataValues.Owner) { %> <%= data.dataValues.Owner.name %> <% } else { %> Animal Shelter <% } %></p>
        <p class="subtitle-profile">Is available <%= data.dataValues.status %></p>
        <p class="subtitle-profile">Liked by 
            <% if(data.dataValues['Interested By']) { 
            data.dataValues['Interested By'].forEach(el => { %>
        <%= el.name %>
        <% }) } else { %>
        -
        <% } %></p>
        <% if(user){
            if(!(user.id == data.dataValues.owner_id)) { %>
          <a href= <%= '/pets/interested/' + data.dataValues.id %>> * I'm interested</a>
        <% } }%>

      </div>

      <br>
      <br>
      <%- include('./includes/bsjs.ejs') %>
      </body>
</html>