<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style-home.css">
</head>
<body>
    <%- include('./includes/navbar.ejs') %> 
    <a href="/pets">Back to pets</a>
    <table>
        <tr>
            <td>Name:</td>
            <td><%= data.dataValues.name %></td>
        <tr>
        <tr>
            <td>Species:</td>
            <td><%= data.dataValues.species %></td>
        <tr>
        <tr>
            <td>Breed:</td>
            <td><%= data.dataValues.breed %></td>
        <tr>
        <tr>
            <td>Age:</td>
            <td><%= data.dataValues.age %></td>
        <tr>
        <tr>
            <td>Status:</td>
            <td><%= data.dataValues.status %></td>
        <tr>
        <tr>
            <td>Owner:</td>
            <% if(data.dataValues.Owner) { %>
            <td><%= data.dataValues.Owner.name %></td>
            <% } else { %>
            <td>Animal Shelter</td>
            <% } %>
        <tr>
        <tr>
            <td>Interested By:</td>
            <% if(data.dataValues['Interested By']) { 
                data.dataValues['Interested By'].forEach(el => { %>
            <td><%= el.name %></td>
            <% }) } else { %>
            <td>-</td>
            <% } %>
        <tr>
      </table>
      <% if(user){
          if(!(user.id == data.dataValues.owner_id)) { %>
        <a href= <%= '/pets/interested/' + data.dataValues.id %>>I'm interested</a>
      <% } }%>
      <%- include('./includes/bsjs.ejs') %>
      </body>
</html>