<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master and Pet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style-home.css">
</head>
<body>
    <%- include('./includes/navbar.ejs') %> 
    <br>
        <a href="/pets/add">Add</a>
        <% if(success){ %>
            <p style="color: green;"><%= success %></p>
        <% } %>
        <div style="display: flex; justify-content:center;">
    <table>
        <tr>
          <th>Name</th>
          <th>Species</th>
          <th>Breed</th>
          <th>Age</th>
          <th>Status</th>
          <th>Owner</th>
          <th colspan="2">Options</th>
          <th>See Profile</th>
        </tr>
        <% data.forEach( el => { %>
            <tr>
            <% for(let key in el.dataValues){ 
                if(key !== 'id' && key!== 'Owner' && key!== 'owner_id') { %>
                <td><%= el[key] %></td>
                <% } else if(key == 'Owner') { 
                    if(el[key] == null) {%>
                <td>Animal Shelter</td>
                <% } else { %>
                <td><%= el[key].name %></td>
            <% }}
            } %>
            <td><a href=<%= "/pets/edit/" + el.id %>>Edit</a></td>
            <td><a href=<%= "/pets/delete/" + el.id %>>Delete</a></td>
            <td><a href=<%= "/pets/profile/" + el.id %>>>></a></td>
            </tr>
        <% }) %>
      </table>
    </div>
    <%- include('./includes/bsjs.ejs') %>
</body>
</html>